
/*Solar High Heading*/
h1 {
    text-align: center;
    font-size: 90px;
    color: turquoise;
    font-family: "Space Mono";
    margin: 40px;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px blue;

}
/*Solar High Heading Upside Down-Mirror Effect*/
h5 {
    text-align: center;
    font-size: 90px;
    color: turquoise;
    font-family: "Space Mono";
    margin: 40px;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px blue;
    transform: rotateX(180deg);

}

/*summary intro*/
h2 {
    font-size: 50px;
    font-family: "Cormorant Infant";
    color: turquoise;
   
    
} 
/*Trailer*/
h4 {
    font-size: 30px;
    color: white;
    font-family:"Cormorant Infant"; 
}

hr {
    border: 0;
    height: 5px;
    background: black;
    padding: 1.5px;
    margin: auto;
}
/*Plot teaser*/
.description {
    font-size: 30px;
    font-family: "Cormorant Infant";
    color: white;
    margin: auto;
}
/*Background*/
div {
    background-image: url("img_galaxy.jpg");
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background: url(img_galaxy.jpg) no-repeat center center fixed ; 
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
}
/*1st Character*/
.characters #Evie-Earth {
    font-size: 25px;
    color: green;
    background: linear-gradient(blue,green,white);
    font-family: "Cormorant Infant";
    margin-left: 700px;
    margin-right: 0px;
    float: right;
    margin-bottom: 10px;
    width: 800px;
    height: 700px;
    transition: width 2s;/*transition*/
}
#Evie-Earth:hover {
    width: 100px;
}/*transition needs this to work*/

/*2nd Character*/
.characters #Virginia-Venus {
    font-size: 25px;
    color: #FF3333;
    background:linear-gradient(red,orange,white);
    font-family: "Cormorant Infant";
    margin-left:0px;
    margin-right: 700px;
    margin-bottom: 10px;
    float: left;
}
/*3rd Character*/
.characters #Noah-Neptune {
    font-size: 25px;
    color: #09B8FF;
    background: linear-gradient(navy,blue,gray);
    font-family: "Cormorant Infant";
    margin-left: 700px;
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
}
/*4th Character*/
.characters #Steven-Sun {
    font-size: 25px;
    color: #FFCF09; /*text color*/
    background: linear-gradient(orange,yellow,white);
    font-family: "Cormorant Infant";
    margin-left:0px;
    margin-right:700px;
    margin-bottom: 10px;
    float: left;
}
/*content all the way on the bottom*/
.input{
    font-size: 20px;
    margin: 5px;
    font-size: 20px;
    color: white;
    margin: auto;
}

.button{
    border-radius: 5px;
    font-family: "Cormorant Infant";
    color: red;
    font-size: 15px;
    text-align: center;
    background: black;
    padding: 5px 10px 5px 10px;
    margin: 20px;
    height: 30px;
}

