h1 {
    text-align: center;
    font-size: 80px;
    color: turquoise;
    font-family: "Space Mono";
}

h2 {
    font-size: 40px;
    font-family: "Cormorant Infant";
}

.description {
    font-size: 20px;
    font-family: "Cormorant Infant";
    color: turquoise;
    background: black;
    margin: 20px 40px 20px 40px;
    
}

div {
    background-image: url("img_galaxy.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
