h1 {
    text-align: center;
    font-size: 80px;
    color: turquoise;
    font-family: "Space Mono";
}

h2, h3 {

    text-align: center;
    font-size: 40px;
    font-family: "Cormorant Infant";
}


